@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
body,html{
    width:100%;
    height:100%;   
    margin: 0px !important;
    cursor:url(../img/cursor.png),pointer !important;
}
a{
  cursor:url(../img/cursor.png),pointer !important;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;  
  background: transparent; 
}
.top
{
    background-color: #696969;
    width:100%;
    overflow-y:hidden;
}
.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.animated.delay-1s {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.animated.delay-2s {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
.animated.delay-3s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.2s;
}
.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 1.5s;
}
.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 1.8s;
}
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.menu{
	display:none;
	margin-bottom: -160px;
    overflow-x:hidden;
    background-color: #696969;

}
ul{
  list-style-type: none;
  padding: 80px 20px 50px;
   width: 100%;
   margin: 0 auto;
  overflow: hidden;
  display:flex;
  justify-content:center;
}
li a{
  display: block;
  color: #ffd700;
  text-align: center;
  padding-bottom: 30px;
  text-decoration: none;
  font-size:25px;
  font-weight:bold;
  cursor: url(../img/cursor.png),pointer !important;
  font-family: 'Libre Baskerville', serif;
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  padding-right: 120px;
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
.bounceInUp:hover{

  text-decoration: line-through;
}
@media(max-width:700px){ 
  ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    display: block;
    width:50%;
    margin-bottom: -75px;
  }
  .bounceInUp{
    animation: none !important;
  }
  .bounce{
    left:0px;
  }
  }
  @media(max-width:400px){
  ul{
    margin-bottom: -55px;
  }
  li a{
    font-size: 15px;
  }
  }
.container{
   display: block;
   background: transparent;
   top: 60px;
   z-index: 9999;
   width:75px;
   right: 60px;
   float: right;
   position: relative;
   box-shadow: none;
   outline: none;
   border:none;
   cursor: url(../img/cursor.png),pointer !important;
   overflow-x:hidden;
}
@media(max-width:1024px){
    .container{
      top: 17px;
      right:20px;
    }
.bounce{
  top:0px;
}
}
.container:hover .menu
{
  display:block;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:#ffd700;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color:#ffd700;
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color:#ffd700;
}
.container:hover .bar1
{
	transform:translate(9px,0px);
}
.container:hover .bar2{
  background-color:#ffd700;
}
.container:hover .bar3
{
	transform:translate(9px,0px);
}
.main-header{ 
    width:100%;
    height:100%;
    margin:0; 
    text-align: center;
    background-color:#696969;
    overflow-x:hidden;
  }
  #particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(-45deg, #022c43, #053f5e, #115173, #ffd700);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  transition: transform .4s ; 
  }
  @media (max-width: 680px){
    .top{
      height:100%;
    }  
    #particles-js{
      background: linear-gradient(-45deg, #115173, #ffd700);
      background-size: 400% 400%;
      animation: Gradient 5s ease infinite;
      transition: transform .4s; 
      }
      .contact-info{
          left:0% !important;
      }
  }
.top-text{
    top: 30%;
    position: relative;
    margin: 0 auto;
    text-align:center;
    width: fit-content;
}
.top-span{
    font-size:70px;
    color:#ffd700;
    font-family: 'Saira Stencil One', monospace;
    letter-spacing: 2px;
}
.bottom-span{
    font-size:25px;
    color:#ffd700;
    font-family: 'Saira Stencil One', monospace;
}
.top-text span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
    width: fit-content;
    margin:0 auto;
}
.top-span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FF0000;
    animation: slide-right 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}
.bottom-span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FF0000;
    animation: slide-right 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}
.top-span::after{
    animation-delay: 0.5s;
}
.bottom-span::after{
    animation-delay: 1s;
}
.contact-info{
    top: 55%;
    left:30%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}
.contact-text{
    margin-bottom:20px;
    font-size: 45px;
    color:#ffd700;
}
.email{
    position: relative;
    font-size: 25px;
    text-decoration: none;
    color:#ffd700;
    font-family: 'Merriweather', monospace;
    transition: background-size .4s ease-in-out;
}
.email:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF0000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.email:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.number{
    position: relative;
    font-size: 25px;
    text-decoration: none;
    color:#ffd700;
    font-family: 'Merriweather', monospace;
}
.number:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF0000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.number:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.form-container{
    position: relative;
    margin: 0 auto;
    top: 70%;
}
.forms{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }
  .forms a{
    text-decoration: none;
    color:#ffd700;
  }
  @media (max-width:800px){
    .forms{
      grid-template-columns: 1fr;
    }
  }
  .contact-form,.quote-form{
    width: auto;
    height: 350px;
    text-align: center;
    margin: 0 auto;
  }
  .contact-form img{
    margin-top:15px;
  }
  .quote-form img{
    margin-top:15px;
  }
  
  .contact-form h1,.contact-form p{
    width: 70%;
    margin: 0 auto;
    height: 50px;
    padding-top: 20px;
  }
  .quote-form h1,.quote-form p{
    width: 70%;
    margin: 0 auto;
    height: 50px;
    padding-top: 20px;
  }
  .contact-form-input,.quote-form-input{
    text-align:center;
    width:100%;
    margin:0 auto;
  }
  input[type=text],input[type=email]{
    background: #CCCC00;
    padding: 40px 80px 28px 28px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: Moderat,Avenir,sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 90%;
    outline: 0;
    border: 2px solid transparent;
    -webkit-appearance: none;
  }
  input::placeholder{
  font-size:16px;
  color:#FF0000;
  }
  @media(max-width:600px){
    .contact-form img{
      margin-top:40px;
  }
    .quote-form img{
      margin-top:40px;
  }
    input[type=text],input[type=email]{
    padding: 20px 20px 20px 20px;
  }
    input::placeholder{
    font-size:14px;
  }
  }
  @media(max-width:350px){
    .contact-form,.quote-form{
      width: auto;
      text-align: center;
      margin: 0 auto;
    }
    .contact-form img{
      margin-top:40px;
  }
    .quote-form img{
      margin-top:40px;
  }
    input[type=text],input[type=email]{
    padding: 20px 20px 20px 20px;
  }
    input::placeholder{
    font-size:14px;
  }
  }
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: FF0000;
    background-color: #CCCC00;
    outline: none;
    margin-bottom: 20px;
  }
  .contact-form-input.active {
    animation: scale-display .3s;
    display: inline-flex;
    padding-top: 20;
  }
  .contact-form-input.out {
    animation: scale-display--reversed .3s;
    animation-fill-mode: forwards;
    display: inline-flex;
  }
  .quote-form-input.active {
    animation: scale-display .3s;
    display: inline-flex;
    padding-top: 20;
  }
  .quote-form-input.out {
    animation: scale-display--reversed .3s;
    animation-fill-mode: forwards;
    display: inline-flex;
  }
  .footer{
    padding-top: 100px;
    z-index: 9999999;
    top: 70%;
    padding-bottom: 94px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    text-align: -webkit-center;
    margin: 0 auto;
  }
  .footer div{
    width:60%;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer div h1{
    color: #CCCC00;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
  }
  .footer div a{
    text-decoration: none;
    color: #CCCC00;
    font-weight: 500;
    line-height:25px;
    font-size: 14px;
  }
  .footer div a:hover{
    color: #FF0000;
    text-decoration: line-through;
  }
  .email-goto{
    width:90px;
  }
  @media (max-width:950px){
   .footer{
      grid-template-columns: 1fr 1fr 1fr;
  }
  }
  @media (max-width:650px){
  .footer{
        grid-template-columns: 1fr;
  }
  }
  @keyframes scale-display {
      0% {
      opacity: 0;
      transform: scale(0);
    -webkit-transform: scale(0);
      }
  100%{
      opacity: 1;
      transform: scale(1);
    -webkit-transform: scale(1);
      }
  }
@keyframes slide-right{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}
  @keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
