@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
body,html{
width:100%;
height:100%;
background-color:#fefefe;
scroll-behavior: smooth;
margin: 0px !important;
cursor:url(../img/cursor.svg),pointer !important;
}
.animated{
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}
a{
  font-size:25px;
  cursor: url(../img/cursor.svg),pointer !important;
 }
 a,h1,p{
   font-family: 'Libre Baskerville', serif;
 }
#ud_preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
#ud_preloader .ud_pre_half {
    background: #696969;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
#ud_preloader #ud_bg_left {
    left: 0;
}
#ud_preloader #ud_bg_right {
    right: 0;
}
#ud_preloader #ud_dots {
    z-index: 10001;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#ud_preloader #ud_dots p {
    width: 100%;
    margin: 0 0 30px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
#ud_preloader #ud_dots .ud_dot {
    -webkit-animation: infinite 500ms ease-in-out;
    animation: infinite 500ms ease-in-out;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background: #fff;
    float: left;
    margin: 0 10px 0 0;
}
#ud_preloader #ud_dots .ud_dot:last-child {
    margin: 0 0 0 0;
}
@keyframes ud_preloader_1 {
    0% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        background: #5a5aa0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes ud_preloader_2 {
    25% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        background: #5a5aa0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    75% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes ud_preloader_3 {
    50% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    75% {
        background: #5a5aa0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        background: #fff;
        -webkit-transform: translateY(0);
         transform: translateY(0);
    }
}
@keyframes ud_preloader_4 {
    75% {
        background: #fff;
        -webkit-transform: translateY(0);
         transform: translateY(0);
    }
    100% {
        background: #5a5aa0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    25% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.top
{
	background-color: #696969;
  width:100%;
  height:100%;
  overflow-x:hidden;
  overflow-y: hidden;
}

.menu{
	display:none;
	margin-bottom: -170px;
	overflow-x:hidden;
}
ul{
  list-style-type: none;
  padding: 80px 20px 50px;
   width: 100%;
   margin: 0 auto;
  overflow: hidden;
  background-color: #696969;
  display:flex;
  justify-content:center;
}
li a{
  display: block;
  margin-bottom:25px;
  color: white;
  text-align: center;
  margin-right:120px;
  text-decoration: none;
}
.animated.delay3s {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.animated.delay-2s {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
.animated.delay-3s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.2s;
}
.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 1.5s;
}
.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 1.8s;
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
@media(max-width:700px){ 
ul{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  display: block;
  width:50%;
  margin-bottom: -75px;
}
.bounceInUp{
  animation: none !important;
}
.bounce{
  left:0px;
}
li a:hover:before{
  width:0 !important;
  transition-property: none  !important; 
}
li a:hover:after{
  width:0 !important;
  transition-property: none  !important;
}
}
@media(max-width:400px){
ul{
  margin-bottom: -55px;
}
li a{
  font-size: 15px;
}
}
li a:before, li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #0f73ee;
}

li a:before {
  left: -2.5px;
}
li a:after {
  right: 2.5px;
  background: #0f73ee;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
li a:hover:before {
  background: #0f73ee;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
li a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
.container{
   display: block;
   background: transparent;
   top: 60px;
   width:50px;
   z-index: 9999;
   right: 60px;
   float: right;
   position: fixed;
   box-shadow: none;
   outline: none;
   border:none;
   cursor: url(../img/cursor.svg),pointer !important;
   overflow-x:hidden;
}
@media(max-width:1024px){
.container{
  top: 17px;
  right:20px;
  position: relative;
}
.bounce{
  top:0px;
}
}
.container:hover .menu
{
  display:block;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:#0f73ee;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color:#fefefe;
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color:#fefefe;
}
.container:hover .bar1
{
	transform:translate(9px,0px);
}
.container:hover .bar2{
  background-color:#0f73ee;
}
.container:hover .bar3
{
	transform:translate(9px,0px);
}
.main-header{ 
  width:100%;
  height:100%;
  margin:0; 
  font:Moderat,Avenir,sans-serif;
  overflow-x:hidden;
} 
canvas{	
  display: inline; 
  vertical-align: bottom; 
  overflow-x:hidden;
} 
#particles-js{ 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #cecece;
  background-image: url("../img/projects.jpg");
  background-size:cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: transform .4s;
} 
.project_title{
  color: #0f73ee;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}
.project-title{
  position: absolute;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  color: #0f73ee;
  font-size: 50px;
  width: 90%;
  top: 41%;
}
.project_sub{
  position: absolute;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  right: 0;
  color: #0f73ee;
  left: 0;
  font-size:25px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  top: 50%;
}
@media (max-width:1200px){
#particles-js{
  background-repeat: no-repeat;
}
}
.particles-js-canvas-el{
position: absolute;
}

@media (max-width: 680px){
.top{
  height:100%;
}  
#particles-js{
  height:100%;
}
}
.footer{
  padding-top: 187px;
  padding-bottom: 94px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  text-align: -webkit-center;
  margin: 0 auto;
}
.footer div{
  width:60%;
  text-align: center;
  margin-bottom: 30px;
}
.footer div h1{
  color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
}
.footer div a{
  text-decoration: none;
  color: #999;
  font-weight: 500;
  line-height:25px;
  font-size: 14px;
}
.footer div a:hover{
  color: #0f73ee;
  text-decoration: line-through;
}
.email-goto{
  width:90px;
}
@media (max-width:950px){
 .footer{
    grid-template-columns: 1fr 1fr 1fr;
}
}
@media (max-width:650px){
.footer{
      grid-template-columns: 1fr;
}
}