@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
html,body{
  cursor:url(cursor.png),pointer !important;  
  margin: 0;
}
.animated.delay-1s {
    -webkit-animation-delay: 4s;
    animation-delay: 1s;
  }
.animated.delay-2s {
    -webkit-animation-delay: 4s;
    animation-delay: 2s;
  }
  .animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  
  .animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  .animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  .animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }
  
  .animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }
  
  .animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  .animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
.logo-cont{
    position: absolute;
}
#border_2{
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
#particles-js{ 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cecece;
    background:url("fullback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow-x: hidden;
    transition: transform .4s;
  } 
  .name{
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    font-family: 'Abril Fatface', cursive;
    margin-right: auto;
    margin-left: auto;
    color:#fff;
    font-size:35px;
    width: 90%;
    top: 44%;
}
.desc{
    position: absolute;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    right: 0;
    color:#fff;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    top: 50%;
}
.head-title{
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.about{
  color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}
.next .arrow-text{
  float: right;
  right: 6px;
  writing-mode: vertical-rl;
  bottom: 35.2px;
  position: absolute;
}
.prev .arrow-text{
  position: absolute;
  float: right;
  right: 3px;
  writing-mode: vertical-lr;
  bottom: 13.2px;
}
.arrow {
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  position: relative;
  right: 1.2px;
  bottom: 8.2px;
  float: right;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms 
  }  
.scroll-btn-line{
  height: 80px;
  width: 1;
  text-align: center;
  background-color: #fff;
  position: absolute;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  top: 8.5px;
  right: -6px;
  position: relative;
  transform: scaleX(1);
  transition: transform .3s ease-out;
}
.prev{
  left:50%;
  top:10;
  position: absolute;
  text-align: center;
  height: fit-content;
  width: auto;
}
.prev .arrow {
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  position: relative;
  right: 0.3px;
  bottom: 70px;
  float: left;
  border-style: solid;
  border-color: #fff;
  border-width: 1.2px 0px 0px 1.2px;
  transform: rotate(45deg);
  transition: border-width 150ms 
}  
.content{
  top: 15%;
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: #fefefe;
  font-family: 'Raleway';
}
.prev .scroll-btn-line{
  height: 80px;
  width: 1;
  text-align: center;
  background-color: #fff;
  position: absolute;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  top: 8.5px;
  right: -7px;
  position: relative;
  transform: scaleX(1);
  transition: transform .3s ease-out;
}
.next{
  position: absolute;
  text-align: center;
  bottom: 7px;
  right: 50%;
  height: fit-content;
  width: auto;
}
@media (max-width : 480px) {
  .prev .scroll-btn-line{
    height: 65
  }
  .next .scroll-btn-line{
    height:65;
  }
  .desc{
    top:51%;
  }
  .prev .arrow{
    bottom:55px;
  } 
  .prev .arrow-text{
    bottom:2px;
  }
  .find-out{
    bottom:12px !important;
    top:0px;
  }
  .content{
    top:15%;
    width:auto;
    margin: 20px;
    left:0;
    font-size:17px !important;
  }
}
@media (max-width:320px){
}
a{
  text-decoration: none;
  color:cyan;
}
