@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
html,body{
  cursor:url(cursor.png),pointer !important;  
  background-color: #696969;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.animated.delay-1s {
    -webkit-animation-delay: 4s;
    animation-delay: 1s;
  }
.animated.delay-2s {
    -webkit-animation-delay: 4s;
    animation-delay: 2s;
  }
  .animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  
  .animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  .animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  .animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }
  
  .animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }
  
  .animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  .animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .menu{
    display:none;
    margin-bottom: -240px;
    overflow-x:hidden;
  }
  ul{
    list-style-type: none;
    padding: 80px 20px 50px;
     width: 100%;
     margin: 0 auto;
    overflow: hidden;
    background-color: #696969;
    display:flex;
    justify-content:center;
  }
  li{
    font-size:25px;
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    text-decoration: none;
  }
  @keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .bounceInUp {
    padding-right: 120px;
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }
  .bounceInUp:hover{
  
    text-decoration: line-through;
  }
  @media(max-width:700px){ 
  ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-top: -40px !important;
    display: block;
    width:50%;
    margin-bottom: -75px;
  }
  .bounceInUp{
    animation: none !important;
  }
  .bounce{
    left:0px;
  }
  .menu{
    margin-bottom: -200px;
  }
  }
  @media(max-width:400px){
  ul{
    margin-bottom: -55px;
  }
  li a{
    font-size: 15px;
  }
  }
  .container{
     display: block;
     background: transparent;
     top: 60px;
     z-index: 9999;
     right: 60px;
     float: right;
     width:50px;
     position: relative;
     box-shadow: none;
     outline: none;
     border:none;
     cursor: url(cursor.png),pointer !important;
     overflow-x:hidden;
  }
  @media(max-width:1024px){
  .container{
    top: 17px;
    right:20px;
  }
  .bounce{
    top:0px;
  }
  }
  .container:hover .menu
  {
    display:block;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:#fefefe;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color:#fefefe;
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color:#fefefe;
  }
  .container:hover .bar1
  {
    transform:translate(9px,0px);
  }
  .container:hover .bar2{
    background-color:#fefefe;
  }
  .container:hover .bar3
  {
    transform:translate(9px,0px);
  }
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
#particles-js{ 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cecece;
    background:url("fullback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow-x: hidden;
    transition: transform .4s;
  } 
  .name{
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    font-family: 'Abril Fatface', cursive;
    margin-right: auto;
    margin-left: auto;
    color:#fff;
    font-size:35px;
    width: 90%;
    top: 44%;
}
.desc{
    position: absolute;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    right: 0;
    color:#fff;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    top: 50%;
}
.head-title{
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.about{
  color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}
.next .arrow-text{
  float: right;
  right: 6px;
  writing-mode: vertical-rl;
  bottom: 35.2px;
  position: absolute;
}
.prev .arrow-text{
  position: absolute;
  float: right;
  right: 3px;
  writing-mode: vertical-lr;
  bottom: 13.2px;
}
.arrow {
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  position: relative;
  right: 1.2px;
  bottom: 8.2px;
  float: right;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms 
  }  
.scroll-btn-line{
  height: 80px;
  width: 1;
  text-align: center;
  background-color: #fff;
  position: absolute;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  top: 8.5px;
  right: -6px;
  position: relative;
  transform: scaleX(1);
  transition: transform .3s ease-out;
}
.prev{
  left:50%;
  top:10;
  position: absolute;
  text-align: center;
  height: fit-content;
  width: auto;
}
.prev .arrow {
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  position: relative;
  right: 0.3px;
  bottom: 70px;
  float: left;
  border-style: solid;
  border-color: #fff;
  border-width: 1.2px 0px 0px 1.2px;
  transform: rotate(45deg);
  transition: border-width 150ms 
}  
.content{
  top: 15%;
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: #fefefe;
  font-family: 'Raleway';
}
.prev .scroll-btn-line{
  height: 80px;
  width: 1;
  text-align: center;
  background-color: #fff;
  position: absolute;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  top: 8.5px;
  right: -7px;
  position: relative;
  transform: scaleX(1);
  transition: transform .3s ease-out;
}
.next{
  position: absolute;
  text-align: center;
  bottom: 7px;
  right: 50%;
  height: fit-content;
  width: auto;
}
@media (max-width : 480px) {
  .prev .scroll-btn-line{
    height: 65
  }
  .next .scroll-btn-line{
    height:65;
  }
  .desc{
    top:51%;
  }
  .prev .arrow{
    bottom:55px;
  } 
  .prev .arrow-text{
    bottom:2px;
  }
  .find-out{
    bottom:12px !important;
    top:0px;
  }
  .content{
    top:15%;
    width:auto;
    margin: 20px;
    left:0;
    font-size:17px !important;
  }
}
@media (max-width:320px){
}
a{
  text-decoration: none;
  color:cyan;
}
