body,html{
    width:100%;
    height:100%;
    background-color:#fefefe;   
    margin: 0px !important;
    cursor:url(cursor.png),pointer !important;
}
a{
  cursor:url(cursor.png),pointer !important;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;  
  background: transparent; 
}
.top
{
    background-color: #656565;
    width:100%;
    overflow-y:hidden;
}
.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.animated.delay-1s {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.animated.delay-2s {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
.animated.delay-3s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.2s;
}
.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 1.5s;
}
.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 1.8s;
}
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.menu{
	display:none;
	margin-bottom: -160px;
    overflow-x:hidden;
    background-color: #656565;

}
ul{
  list-style-type: none;
  padding: 80px 20px 50px;
   width: 100%;
   margin: 0 auto;
  overflow: hidden;
  display:flex;
  justify-content:center;
}
li a{
  display: block;
  color: #fefefe;
  text-align: center;
  padding-bottom: 30px;
  text-decoration: none;
  font-size:25px;
  font-weight:bold;
  cursor: url(cursor.png),pointer !important;
  font-family: 'Libre Baskerville', serif;
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  padding-right: 120px;
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
.bounceInUp:hover{

  text-decoration: line-through;
}
@media(max-width:700px){ 
  ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    display: block;
    width:50%;
    margin-bottom: -75px;
  }
  .bounceInUp{
    animation: none !important;
  }
  .bounce{
    left:0px;
  }
  }
  @media(max-width:400px){
  ul{
    margin-bottom: -55px;
  }
  li a{
    font-size: 15px;
  }
  }
.container{
   display: block;
   background: transparent;
   top: 60px;
   z-index: 9999;
   right: 60px;
   float: right;
   position: relative;
   box-shadow: none;
   outline: none;
   border:none;
   cursor: url(cursor.png),pointer !important;
   overflow-x:hidden;
}
.container{
    display: block;
    background: transparent;
    top: 60px;
    z-index: 9999;
    width:50px;
    right: 60px;
    float: right;
    position: relative;
    box-shadow: none;
    outline: none;
    border:none;
    cursor: url(cursor.png),pointer !important;
    overflow-x:hidden;
}
@media(max-width:1024px){
    .container{
      top: 17px;
      right:20px;
    }
.bounce{
  top:0px;
}
}
.container:hover .menu
{
  display:block;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:#fefefe;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color:#fefefe;
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color:#fefefe;
}
.container:hover .bar1
{
	transform:translate(9px,0px);
}
.container:hover .bar2{
  background-color:#fefefe;
}
.container:hover .bar3
{
	transform:translate(9px,0px);
}
.main-header{ 
  width:100%;
  height:100%;
  margin:0; 
  font:Moderat,Avenir,sans-serif;
  overflow-x:hidden;
} 
canvas{	
  display: inline; 
  vertical-align: bottom; 
  overflow-x:hidden;
} 
#particles-js{ 
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("fullback.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: transform .4s;
} 
canvas{
  display:block;
}
@media (max-width:1200px){
#particles-js{
  background-repeat: no-repeat;
}
canvas{
  height: auto !important;
  width: auto !important;
}
}
.particles-js-canvas-el{
position: absolute;
}
.project_title {
    position: absolute;
    float: left;
    top: 272px;
    left: 590px;
    width: 52%;
  }
  .project-title{
    font-size: 80px;
    color: #fefefe;
    letter-spacing: -3px;
    font-weight: 400;
    margin:0px;
    float: left;
    margin-bottom: -6px;
  }
  @media(max-width:600px){
    .clicker{

    }
    .project-1-img,.project-2-img,.project-3-img{
      height: auto;
      width: 90%;
    }
    .project-1-title{
    writing-mode: horizontal-tb !important;
    left: 90px !important;
    font-size: 35px !important;
    top: 125px !important;
    }
    .project-1-title::before{
    width: 100% !important;
    height: 6% !important;
    }
    .project-1:hover .project-1-title::before{
      transform: scaleY(1) !important;
    }
    .project-2-title{
    writing-mode: horizontal-tb !important;
    left: 60px !important;
    font-size: 35px !important;
    }
    .project-2-title::before{
    width: 100% !important;
    height: 6% !important;
    }
    .project-3-title{
    writing-mode: horizontal-tb !important;
    left: 110px !important;
    top: 105px !important;
    font-size: 35px !important;
    }
    .project-3-title::before{
    width: 100% !important;
    height: 6% !important;
    }
    .fadeInUp{
      top: 37px !important;
      width: 60% !important;
      float: left;
      left: 85px !important;
    }
    .fadeInUp_2{

    }
    .fadeInUp_3{

    }
    .credits{
      margin-top: 0px !important;
      top: 124px !important;
      width: 100% !important;
      float: left;
      left: 50px !important;
    }
  }  
  .credits{
        visibility: visible;
        animation-name: fadeInUp;
        width: 100%;
        margin-top: -60px;
        margin-left: -45px;
        font-size: 15px;
      }
  .project_sub{
    margin-left: 35px !important;
    width: 100%;
    float: left;
    font-weight: 700;
    line-height: 40px;
    color: #fefefe;
    font-size: 19px;
    left: 23px;
    letter-spacing: 9px;
    margin: 0px;
  }
  .clicker{
    width: 0;
    height: 0;
    bottom: 40px;
    margin: 0 auto;
    z-index: 9999999;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 49px solid #dcdcdc;
  }
  .project{
    text-align: -webkit-center;
    width: 100%;
    height: 100%;
    background-color: #181818;
  }
  .project-1{
    text-align: -webkit-center;
    width: 100%;
    height: 100%;
  }
  .project-1-img{
    position: relative;
    top: 65px;
    transition: .5s ease;
    backface-visibility: hidden;
    }
    .project-1-img:hover{
      opacity: 0.5;
    }
  .project-1-title{
    writing-mode: vertical-rl;
    position: relative;
    text-orientation: mixed;
    color: #808080;
    float: left;
    left: 278px;
    letter-spacing: 5px;
    top: 154px;
    font-size: 45px;
    transition: transform .8s;
    transform-origin: left top;
}
  .project-1-title:before {
    content: "";
    position: absolute;
    width: 6%;
    height: 100%;
    bottom: 0;
    left: -4px;
    background-color: #808080;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleY(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    transition-delay: .5s;
}
    .project:hover .project-1-title:before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    .fadeInUp{
      width: 50%;
      position: relative;
      color: #808080;
      top: 82px;
      left: 23px;
      font-size: 20px;
      transition: opacity 1s ease-in-out;
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
  }
    .project-2-img{
      position: relative;
      top: 65px;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    .project-2-img:hover{
      opacity: 0.5;
    }
    .project-2-title{
    writing-mode: vertical-rl;
    position: relative;
    text-orientation: mixed;
    color: #808080;
    float: left;
    left: 278px;
    letter-spacing: 5px;
    top: 120px;
    font-size: 45px;
    transition: transform .8s;
    transform-origin: left top;
  }
    .project-2-title:before {
      content: "";
      position: absolute;
      width: 6%;
      height: 100%;
      bottom: 0;
      left: -4px;
      background-color: #808080;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleY(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      transition-delay: .5s;
  }
      .project-2:hover .project-2-title:before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
      .fadeInUp_2{
        width: 50%;
        position: relative;
        color: #808080;
        top: 82px;
        left: 23px;
        font-size: 20px;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
      .project-2:hover .fadeInUp_2 {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
      }
      .project-3-img{
        position: relative;
        top: 65px;
        transition: .5s ease;
      backface-visibility: hidden;
    }
    .project-3-img:hover{
      opacity: 0.5;
    }
      .project-3-title{
        writing-mode: vertical-rl;
    position: relative;
    text-orientation: mixed;
    color: #808080;
    float: left;
    left: 278px;
    letter-spacing: 5px;
    top: 154px;
    font-size: 45px;
    transition: transform .8s;
    transform-origin: left top;
    }
      .project-3-title:before {
        content: "";
        position: absolute;
        width: 6%;
        height: 100%;
        bottom: 0;
        left: -4px;
        background-color: #808080;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleY(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        transition-delay: .5s;
    }
        .project-3:hover .project-3-title:before{
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
        .project-3:hover .fadeInUp_3 {
          -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
        }
        .fadeInUp_3{
          width: 50%;
          position: relative;
          color: #808080;
          top: 82px;
          left: 23px;
          font-size: 20px;
          opacity: 0;
          transition: opacity 1s ease-in-out;
      }
      .footer{
        padding-bottom: 94px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        background-color: #181818;
        text-align: -webkit-center;
        margin: 0 auto;
      }
      .footer div{
        width: 60%;
        text-align: center;
        margin-bottom: 30px;
      }
      .footer div h1{
        color: #808080;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0;
      }
      .footer div a{
        text-decoration: none;
        color: #999;
        font-weight: 500;
        line-height:25px;
        font-size: 14px;
      }
      .footer div a:hover{
        color: #0f73ee;
        text-decoration: line-through;
      }
      .email-goto{
        width:90px;
      }
      @media (max-width:950px){
       .footer{
          grid-template-columns: 1fr 1fr 1fr;
          padding-top:60px;
      }
      }
      @media (max-width:650px){
      .footer{
            grid-template-columns: 1fr;
            padding-top:60px;
      }
      }