@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
body,html{
width:100%;
height:100%;
background-color:#fefefe;
scroll-behavior: smooth;
margin: 0px !important;
cursor:url(cursor.png),pointer !important;
}
a{
  font-size:25px;
  cursor: url(cursor.png),pointer !important;
 }
 a,h1,p{
   font-family: 'Libre Baskerville', serif;
 }
#ud_preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
#ud_preloader .ud_pre_half {
    background: #696969;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
#ud_preloader #ud_bg_left {
    left: 0;
}
#ud_preloader #ud_bg_right {
    right: 0;
}
#ud_preloader #ud_dots {
    z-index: 10001;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#ud_preloader #ud_dots p {
    width: 100%;
    margin: 0 0 30px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
#ud_preloader #ud_dots .ud_dot {
    -webkit-animation: infinite 500ms ease-in-out;
    animation: infinite 500ms ease-in-out;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background: #fff;
    float: left;
    margin: 0 10px 0 0;
}
#ud_preloader #ud_dots .ud_dot:last-child {
    margin: 0 0 0 0;
}
@keyframes ud_preloader_1 {
    0% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        background: #5a5aa0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes ud_preloader_2 {
    25% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        background: #5a5aa0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    75% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes ud_preloader_3 {
    50% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    75% {
        background: #5a5aa0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        background: #fff;
        -webkit-transform: translateY(0);
         transform: translateY(0);
    }
}
@keyframes ud_preloader_4 {
    75% {
        background: #fff;
        -webkit-transform: translateY(0);
         transform: translateY(0);
    }
    100% {
        background: #5a5aa0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    25% {
        background: #fff;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.top
{
	background-color: #696969;
	width:100%;
  overflow-x:hidden;
  overflow-y: hidden;
}
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.bounce{
  display: block;
  width: 80px;
  top: 43px;
  left: 20px;
  height: 80px;
  background-image: url(logo.png);
  background-position: inherit;
  z-index: 9999;
  float: left;
  position: fixed;
  overflow-x: hidden;
}
.bounce:hover{
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  background-position: inherit;
  background-repeat: no-repeat;
  width:270px;
  height:100px;
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInLeft_2 {
  display: block;
  z-index: 9999;
  top: -2px;
  left: 80px;
  float: left;
  position: fixed;
  overflow-x: hidden;
}
.delay-5s{
  opacity: 0;
    display: block;
    z-index: 9999;
    top: -2px;
    left: 80px;
    float: left;
    position: fixed;
    overflow-x: hidden;
}
.bounce:hover .bounceInLeft_2 {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
    margin-top: 8px;
    opacity: 1;
}
.bounce:hover .bounceInLeft_2.animated.delay-5s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
    margin-top: 30px;
    opacity: 1
}
.logo-text-1{
  color: #5a5aa0;
  font-family: 'Acme', cursive;
  font-size:20px;
}
.logo-text-2{
  color: #5a5aa0;
  font-family: 'Acme', cursive;
  font-size:18px;
}
.menu{
	display:none;
	margin-bottom: -160px;
	overflow-x:hidden;
}
ul{
  list-style-type: none;
  padding: 80px 20px 50px;
   width: 100%;
   margin: 0 auto;
  overflow: hidden;
  background-color: #696969;
  display:flex;
  justify-content:center;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding-bottom: 30px;
  text-decoration: none;
}
.animated.delay3s {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.animated.delay-2s {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
.animated.delay-3s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.2s;
}
.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 1.5s;
}
.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 1.8s;
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  padding-right: 120px;
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
.bounceInUp:hover{

  text-decoration: line-through;
}
@media(max-width:700px){ 
ul{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  display: block;
  width:50%;
  margin-bottom: -75px;
}
.bounceInUp{
  animation: none !important;
}
.bounce{
  left:0px;
}
}
@media(max-width:400px){
ul{
  margin-bottom: -55px;
}
li a{
  font-size: 15px;
}
}
.container{
   display: block;
   background: transparent;
   top: 60px;
   z-index: 9999;
   right: 60px;
   float: right;
   position: relative;
   box-shadow: none;
   outline: none;
   border:none;
   cursor: url(cursor.png),pointer !important;
   overflow-x:hidden;
}
@media(max-width:1024px){
.container{
  top: 17px;
  right:20px;
}
.bounce{
  top:0px;
}
}
.container:hover .menu
{
  display:block;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:#5a5aa0;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color:#fefefe;
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color:#fefefe;
}
.container:hover .bar1
{
	transform:translate(9px,0px);
}
.container:hover .bar2{
  background-color:#5a5aa0;
}
.container:hover .bar3
{
	transform:translate(9px,0px);
}
.main-header{ 
  width:100%;
  height:100%;
  margin:0; 
  font:Moderat,Avenir,sans-serif;
  overflow-x:hidden;
} 
canvas{	
  display: inline; 
  vertical-align: bottom; 
  overflow-x:hidden;
} 

#particles-js{ 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #cecece;
  background-image: url("gogol.png");
  background-size:contain;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: transform .4s;

} 
@media (max-width:1200px){
#particles-js{
  background-repeat: no-repeat;
}
}
.particles-js-canvas-el{
position: absolute;
}
.heading {
  position: absolute;
  float: left;
  top: 171px;
  left: 34px;
  width: 52%;
}
.name{
  font-size: 80px;
  color: #fff;
  letter-spacing: -3px;
  font-weight: 400;
  margin:0px;
  float: left;
  margin-bottom: -6px;
}
.intro{
  width: 100%;
  float:left;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  font-size: 19px;
  letter-spacing: 9px;
  margin:0px;
}
@media(max-width:900px){
  .heading{
    top:115px;
  }
}
@media (max-width: 680px){
.name{
  font-size:40px;
}
.intro{
  font-size:12px;
}
.top{
  height:100%;
}  
#particles-js{
  height:100%;
}
.heading{
  width:88%;
  top:200px;
}
}
@media (max-width: 500px){

  .web-benifit{
    font-size:40px;
  }
  .web-benifit-text{
    font-size:30px;
  }
}
.web-benifit{
  font-size:70px;
  margin-left:530px;
  margin-top: 250px;
  width:650px;
  color:#1d1e21;
  font-family: 'Libre Baskerville', serif;
}
.web-benifit-text{
  margin-bottom: 150px;
  margin-left:530px;
  width:810px;
  color: #737373;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  font-family: 'Libre Baskerville', serif;
}
@media (max-width: 500px){
.web-benifit{
  font-size:50px;
}
.web-benifit-text{
  font-size:17px;
}
}
@media (max-width: 1356px){
  .web-benifit{
    margin-top: 100px;
    margin-left: 10px;
    width: 90%;
  }
  .web-benifit-text{
    margin-top: 40px;
    margin-left: 10px;
    width: 90%;
    
  }
  }
.icons{
  display:grid;
  text-align:center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 180px;
} 
@media (max-width:1200px){
.icons{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
@media (max-width:950px){
.icons{
  grid-template-columns: 1fr 1fr 1fr;
}
}
@media (max-width:650px){
  .icons{
    grid-template-columns: 1fr 1fr;
  }
  }
@media (max-width:500px){
.icons{
  grid-template-columns: 1fr;
}
} 

.icon-title{
  font-family: 'Libre Baskerville', serif;
  font: weight 100;
  font-size:20px
}
.grow:hover{
background-color:#d3d3d3;
}
.grow:hover .icon-title{
  transform:translateY(-18px);
  transition: transform .8s ease, top .8s ease;
}
.grow:hover img{
  transform:translateY(-18px);
  transition: transform .8s ease, top .8s ease;
} 
.grow{ 
  height: 280px;
  border: 1px solid #ebe9e8;
 
  background-color: transparent;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn{
	visibility:hidden;
}
.icons div:hover .fadeIn {
  visibility:visible;
  animation-name: fadeIn;
}
.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.forms{
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 33px 80px rgba(86,111,140,.12);
  width: 80%;
}
.forms a{
  text-decoration: none;
}
@media (max-width:800px){
  .forms{
    grid-template-columns: 1fr;
  }
}
.contact-form,.quote-form{
  width: auto;
  height: 350px;
  text-align: center;
  margin: 0 auto;
}
.contact-form img{
  margin-top:15px;
}
.quote-form img{
  margin-top:15px;
}

.contact-form h1,.contact-form p{
  width: 70%;
  margin: 0 auto;
  height: 50px;
  padding-top: 20px;
}
.quote-form h1,.quote-form p{
  width: 70%;
  margin: 0 auto;
  height: 50px;
  padding-top: 20px;
}
.contact-form-input,.quote-form-input{
  text-align:center;
  width:100%;
  margin:0 auto;
}
input[type=text],input[type=email]{
  background: #fff;
  padding: 40px 80px 28px 28px;
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: Moderat,Avenir,sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: 90%;
  outline: 0;
  border: 2px solid transparent;
  -webkit-appearance: none;
}
input::placeholder{
font-size:16px;
}
@media(max-width:600px){
  .contact-form img{
    margin-top:40px;
}
  .quote-form img{
    margin-top:40px;
}
  input[type=text],input[type=email]{
  padding: 20px 20px 20px 20px;
}
  input::placeholder{
  font-size:14px;
}
}
@media(max-width:350px){
  .contact-form,.quote-form{
    width: auto;
    text-align: center;
    margin: 0 auto;
  }
  .contact-form img{
    margin-top:40px;
}
  .quote-form img{
    margin-top:40px;
}
  input[type=text],input[type=email]{
  padding: 20px 20px 20px 20px;
}
  input::placeholder{
  font-size:14px;
}
}
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #5a5aa0;
  box-shadow: 0 0 4px #999;
  outline: none;
  margin-bottom: 20px;
}
.contact-form-input.active {
  animation: scale-display .3s;
  display: inline-flex;
  padding-top: 20;
}
.contact-form-input.out {
  animation: scale-display--reversed .3s;
  animation-fill-mode: forwards;
  display: inline-flex;
}
.quote-form-input.active {
  animation: scale-display .3s;
  display: inline-flex;
  padding-top: 20;
}
.quote-form-input.out {
  animation: scale-display--reversed .3s;
  animation-fill-mode: forwards;
  display: inline-flex;
}
@keyframes scale-display {
	0% {
	opacity: 0;
	transform: scale(0);
  -webkit-transform: scale(0);
	}
100%{
	opacity: 1;
	transform: scale(1);
  -webkit-transform: scale(1);
	}
}
.footer{
  padding-top: 187px;
  padding-bottom: 94px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  text-align: -webkit-center;
  margin: 0 auto;
}
.footer div{
  width:60%;
  text-align: center;
  margin-bottom: 30px;
}
.footer div h1{
  color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
}
.footer div a{
  text-decoration: none;
  color: #999;
  font-weight: 500;
  line-height:25px;
  font-size: 14px;
}
.footer div a:hover{
  color: #0f73ee;
  text-decoration: line-through;
}
.email-goto{
  width:90px;
}
@media (max-width:950px){
 .footer{
    grid-template-columns: 1fr 1fr 1fr;
}
}
@media (max-width:650px){
.footer{
      grid-template-columns: 1fr;
}
}